body {
   background-image: url("background.JPG")
}
p{

  font-size: 100%;
}

#ban{
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: absolute;
  top: 150px;
  right: 120px;
  left: 150px;
  align-items: center;
  width: 80%;
  height:60%
   
}

/* Add a black background color to the top navigation */
.navbar {
  background-color: #FAEBD7;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
ul{
  list-style-type: none;
}
#icon {
  width: 10%;
  height:5%
}
.background-container{
  position: absolute;
   top: 600px;
}